{% extends 'base.html' %}

{% block content %}

    <br><h1 class="center-align">Bike Collector - About Page</h1><br><br>
    <hr><br>
    <h4 class="coral-text center-align">GA London SEI-66 Django Lab Deliverable</h4><br><hr><br>
    <br><h5 class="center-align">Please sign in or sign up in the nav bar above in order to begin!</h5>
    <br><br><br><br>
    <h6>Built using Django framework and postgreSQL.</h6><br>
    <h6>Information shown is purely representative with no guarantee of accuracy.</h6>
    <h6>Images and text used may be copyrighted, used here as 'fair dealing' for private study.</h6><br>

{% endblock %}
    