{% extends 'base.html' %}

{% block content %}

<h1>Bike Details</h1>

<div class="card">
    <div class="card-content">
        <div class="flex-container">
            <div>
                <span class="card-title"> {{ bike.make }} {{ bike.model }} </span>
                <!-- note the syntax for render (cf. <%= [...] %> in EJS)-->
                <p> Year: {{bike.year}} </p>
                <p> Frame material: {{bike.material }} ({{bike.material_info}})</p>
                <p> Description: {{bike.description}} </p>
            </div>
            <!-- <div>
                <a href="{% url 'detail' bike.id %}">
                    <img class="card-img" src="{{bike.image}}" alt="image of {{bike.name}}">
                </a>
            </div> -->
        </div>
    </div>
    <div class="detail-img-container">
        <a href="{% url 'detail' bike.id %}">
            <img class="detail-img center" src="{{bike.image}}" alt="image of {{bike.name}}">
        </a>
    </div>
    <div>
        <a href="{% url 'bikes_update' bike.id %}">Edit</a>
        <a href="{% url 'bikes_delete' bike.id %}">Delete</a>
    </div>
</div>

{% endblock %}