{% extends 'base.html' %}

{% block content %}

<h1>Bike Details</h1>

<div class="card">
    <div class="card-content">
        <div class="flex-container">
            <div>
                <span class="card-title"> {{ bike.make }} {{ bike.model }} </span>
                <p> Year: {{bike.year}} </p>
                <p> Frame material: {{bike.material }} ({{bike.material_info}})</p>
                <p> Description: {{bike.description}} </p>
            </div>
        </div>
    </div>
    <div class="detail-img-container">
        <a href="{% url 'detail' bike.id %}">
            <img class="detail-img center" src="{{bike.image}}" alt="image of {{bike.name}}">
        </a>
    </div>
    <div class="center-align" id="detail-button-div">
        <a href="{% url 'index' %}" class="detail-buttons btn">Index</a>
        <a href="{% url 'bikes_update' bike.id %}" class="detail-buttons btn">Edit</a>
        <a href="{% url 'bikes_delete' bike.id %}" class="detail-buttons btn">Delete</a>
    </div>
</div>

<div>

    <table class="striped">
        <thead>
            <tr>
                <th>Component Type</th>
                <th>Manufacturer</th>
            </tr>
        </thead>
        <tbody>
            {% for component in bike.component_set.all %}
            <tr>
                <td>{{ component.get_comptype_display }}</td>
                <td>{{ component.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="{% url 'add_component' bike.id %}" method="post">
        {% csrf_token %}
        {{ component_form.as_p }}
        <input type="submit" value="Add Component" class="btn">
    </form>

</div>

<script>
    let typeElememt = document.getElementById('id_comptype');
    M.FormSelect.init(typeElememt);
</script>

{% endblock %}