{% extends 'base.html' %}

{% block content %}

<h1> Bike Index </h1>
<!-- dynamic list below: -->
{% for bike in bikes reversed %}
<div class="card">
    <div class="card-content">
        <div class="flex-container">
            <div>
                <span class="card-title"> {{ bike.make }} {{ bike.model }} </span>
                <!-- note the syntax for render (cf. <%= [...] %> in EJS)-->
                <p> Year: {{bike.year}} </p>
                <p> Frame material: {{bike.material }} ({{bike.material_info}})</p>
                <p> Description: {{bike.description}} </p>
                <br>
                <a href="{% url 'detail' bike.id %}" class="btn">Bike Detail</a>
            </div>
            <div>
                <a href="{% url 'detail' bike.id %}">
                    <img class="card-img" src="{{bike.image}}" alt="image of {{bike.make}} {{bike.model}} ">
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}